body{
    background-image: url("../img/back.jpg");
}
@font-face {
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    src: url("../fonts/Google-fonts/GreatVibes-Regular.ttf") format("truetype");
}
.enagement-container{
	width:650px;
	margin: 0 auto;
}
.enagement-overlay{
	color: #fff;
    position: absolute;
    top: 36%;
}
.enagement-name{
	text-align: center;
	margin:20px 0;
}
.enagement-name h3{
	font-size: 50px;
	font-family: 'Great Vibes', cursive;
}
.enagement-name p{
	font-size: 30px;
	margin:20px 0;
	font-family: 'Great Vibes', cursive;
}
.invitation-message h4{
 	font-family: 'Great Vibes', cursive;
 	text-align: center;
 	line-height: 28px;
}
.invitation-message h5{
	font-size: 20px;
	font-family: 'Great Vibes', cursive;
	line-height: 30px;
	text-align: center;
}
.invitation-message{
	text-align: center;
	margin:30px 0;
}
.invitation-message-address h5{
	font-size: 20px;
	font-family: 'Great Vibes', cursive;
	line-height: 40px;
	text-align: center;
}
.invitation-message h1{
	font-family: 'Great Vibes', cursive;
	margin:0 0 15px;
	
	text-align: center;
	text-decoration: underline;
}
.invitation-message a{
	color:#fff;
	text-align: center;
	text-decoration: underline;
	font-family: 'Great Vibes', cursive;
	font-size: 20px;
	cursor: pointer;
}

.invitation-message span{
	color:#fff;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 20px;
}

@media (min-width: 320px){
	.enagement-overlay{
		width:290px;
		top:33%;
	}
	.invitation-message h1{
		font-size: 38px;
	}
}
@media (min-width: 360px){
	.enagement-overlay{
		width:330px;
		top:33%;
	}
	.invitation-message h1{
		font-size: 42px;
	}
}

@media (min-width: 375px){
	.enagement-overlay{
		width:345px;
		top:33%;
	}
	.invitation-message h1{
		font-size: 44px;
	}
}

@media (min-width: 400px){
	.enagement-overlay{
		width:380px;
	}
}

@media (min-width:768px){
	.enagement-overlay{
		width:650px;
		top: 36%;
	}
	.invitation-message h1{
		font-size:50px;
	}

}